body {
    background: linear-gradient(to right, rgb(255, 0, 149), rgb(247, 38, 38));
}

label {
    display: block;
}

input[type="button"] {
    width: 100%;
}

select {
    width: 100%;
    text-align: right;
    border: none;
    border-bottom: 1px solid #383737;
    outline: none;
}

.header {
    width: 100%;
}

#carInsurance {
    text-align: right;
    width: 50vw;
    margin-top: 6%;
    background-color: #ffff;
    padding: 0px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;

}