/* section style */
section.container {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 40px;
    border-radius: 10px;
    margin-top: 10px;
}
/* header start--------------- */
#header>h1{
    text-align: center;
}
/* main start--------------- */
.welcome {
    text-align: center;
}
/* result div style */
#ansewr{
    border-radius: 8px;
    text-align: center;
    background-color: rgb(47, 47, 96);
    color: aliceblue;
    padding: 8px;
}
#ansewr>div:not(:last-of-type){
    display: flex;
    justify-content: space-between;
}
#ansewr>.price{
    text-align: center;
}
/* ----footer start------- */
    /* left div of footer style */
#footer>#leftFooter {
   padding: 3px;
    text-align: center;
}
    /* right div of footer style */
#footer>#rightFooter img {
    width: 30px;
}

#footer>#rightFooter div a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

#rightFooter a span {
    margin-left: 10px;
}

#footer>#rightFooter>div:nth-of-type(2)>a>span {
    margin-left: 25px;
}